@import "./theme/light.css";
@import "tailwindcss";

html body {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  font-family:
          PingFang SC,
          Arial,
          Helvetica,
          sans-serif;
}

// 隐藏滚动条
::-webkit-scrollbar {
  display: none;
}

img, svg {
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}