:root {
  /* Color styles */
  --alert-warning-background-content-default: rgba(255, 247, 230, 1);
  --alert-warning-content-default: rgba(250, 140, 22, 1);
  --avatar-background-content: rgba(247, 248, 249, 1);
  --avatar-content: rgba(31, 34, 38, 1);
  --avatar-stroke: rgba(0, 0, 0, 0.08);
  --background-primary-content-default: rgba(255, 255, 255, 1);
  --background-secondary-content-default: rgba(247, 248, 249, 1);
  --background-tertiary-content-default: rgba(227, 231, 237, 1);
  --box-content-default: rgba(255, 255, 255, 1);
  --box-stroke-default: rgba(24, 158, 255, 1);
  --button-brand-background-content-default: rgba(24, 158, 255, 1);
  --button-brand-background-content-hover: rgba(71, 175, 255, 1);
  --button-brand-background-content-press: rgba(16, 116, 204, 1);
  --button-brand-content-default: rgba(255, 255, 255, 1);
  --button-brand-content-hover: rgba(255, 255, 255, 1);
  --button-brand-content-press: rgba(255, 255, 255, 1);
  --button-ghost-background-content-default: rgba(255, 255, 255, 0);
  --button-ghost-background-content-hover: rgba(242, 244, 247, 1);
  --button-ghost-background-content-press: rgba(227, 231, 237, 1);
  --button-ghost-content-default: rgba(31, 34, 38, 1);
  --button-ghost-content-hover: rgba(31, 34, 38, 1);
  --button-ghost-content-press: rgba(31, 34, 38, 1);
  --button-primary-background-content-default: rgba(0, 0, 0, 1);
  --button-primary-background-content-hover: rgba(31, 34, 38, 1);
  --button-primary-background-content-press: rgba(0, 0, 0, 1);
  --button-primary-content-default: rgba(255, 255, 255, 1);
  --button-primary-content-hover: rgba(255, 255, 255, 1);
  --button-primary-content-press: rgba(255, 255, 255, 1);
  --button-secondary-background-content-default: rgba(242, 244, 247, 1);
  --button-secondary-background-content-hover: rgba(247, 248, 249, 1);
  --button-secondary-background-content-press: rgba(227, 231, 237, 1);
  --button-secondary-content-default: rgba(31, 34, 38, 1);
  --button-secondary-content-hover: rgba(31, 34, 38, 1);
  --button-secondary-content-press: rgba(31, 34, 38, 1);
  --button-tertiary-background-content-default: rgba(255, 255, 255, 1);
  --button-tertiary-background-content-hover: rgba(255, 255, 255, 1);
  --button-tertiary-background-content-press: rgba(255, 255, 255, 1);
  --button-tertiary-content-default: rgba(31, 34, 38, 1);
  --button-tertiary-content-hover: rgba(31, 34, 38, 1);
  --button-tertiary-content-press: rgba(31, 34, 38, 1);
  --button-tertiary-stroke-default: rgba(227, 231, 237, 1);
  --button-tertiary-stroke-hover: rgba(31, 34, 38, 1);
  --button-tertiary-stroke-press: rgba(31, 34, 38, 1);
  --button-transparent-black-background-content-default: rgba(0, 0, 0, 0.4);
  --button-transparent-black-background-content-hover: rgba(0, 0, 0, 0.5);
  --button-transparent-black-background-content-press: rgba(0, 0, 0, 0.3);
  --button-transparent-black-content-default: rgba(255, 255, 255, 1);
  --button-transparent-black-content-hover: rgba(255, 255, 255, 1);
  --button-transparent-black-content-press: rgba(255, 255, 255, 1);
  --checkbox-checked-background-content-default: rgba(0, 0, 0, 1);
  --checkbox-checked-background-content-hover: rgba(31, 34, 38, 1);
  --checkbox-checked-content-default: rgba(255, 255, 255, 1);
  --checkbox-checked-content-hover: rgba(255, 255, 255, 1);
  --checkbox-unchecked-background-content-default: rgba(255, 255, 255, 1);
  --checkbox-unchecked-background-content-hover: rgba(255, 255, 255, 1);
  --checkbox-unchecked-stroke-default: rgba(203, 209, 216, 1);
  --checkbox-unchecked-stroke-hover: rgba(0, 0, 0, 1);
  --content-black: rgba(0, 0, 0, 1);
  --content-black-opacity10: rgba(0, 0, 0, 0.1);
  --content-black-opacity20: rgba(0, 0, 0, 0.2);
  --content-error: rgba(245, 34, 45, 1);
  --content-info: rgba(24, 159, 255, 1);
  --content-success: rgba(82, 196, 26, 1);
  --content-warning: rgba(250, 140, 22, 1);
  --content-white: rgba(255, 255, 255, 1);
  --content-white-opacity20: rgba(255, 255, 255, 0.2);
  --divider-primary-content-default: rgba(0, 0, 0, 0.08);
  --dropdown-background-content-default: rgba(255, 255, 255, 1);
  --dropdown-background-content-hover: rgba(247, 248, 249, 1);
  --dropdown-background-content-selected: rgba(235, 246, 255, 1);
  --icon-primary-content-default: rgba(0, 0, 0, 1);
  --icon-primary-content-hover: rgba(0, 0, 0, 1);
  --icon-primary-content-press: rgba(0, 0, 0, 1);
  --icon-secondary-content-default: rgba(125, 137, 153, 1);
  --icon-secondary-content-hover: rgba(0, 0, 0, 1);
  --icon-secondary-content-press: rgba(0, 0, 0, 1);
  --icon-tertiary-default: rgba(172, 180, 191, 1);
  --icon-tertiary-hover: rgba(0, 0, 0, 1);
  --icon-tertiary-selected: rgba(24, 158, 255, 1);
  --input-background-content-default: rgba(242, 244, 247, 1);
  --input-background-content-hover: rgba(227, 231, 237, 1);
  --input-background-content-selected: rgba(242, 244, 247, 1);
  --input-stroke-default: rgba(0, 0, 0, 1);
  --layer-primary-content-default: rgba(0, 0, 0, 0.4);
  --massage-background-content-default: rgba(255, 255, 255, 1);
  --material-primary-background-content-default: rgba(227, 231, 237, 1);
  --material-primary-background-content-hover: rgba(203, 209, 216, 1);
  --material-primary-stroke-default: rgba(0, 0, 0, 0.08);
  --material-primary-stroke-hover: rgba(0, 0, 0, 1);
  --material-primary-stroke-selected: rgba(0, 0, 0, 1);
  --modal-background-content-default: rgba(255, 255, 255, 1);
  --modal-background-content-hover: rgba(247, 248, 249, 1);
  --progress-background-content-default: rgba(247, 248, 249, 1);
  --progress-content-default: rgba(24, 158, 255, 1);
  --segmented-background-content-default: rgba(242, 244, 247, 1);
  --segmented-content-default: rgba(242, 244, 247, 1);
  --segmented-content-hover: rgba(227, 231, 237, 1);
  --segmented-content-selected: rgba(255, 255, 255, 1);
  --select-background-content-default: rgba(255, 255, 255, 1);
  --select-background-content-hover: rgba(247, 248, 249, 1);
  --select-background-content-selected: rgba(255, 255, 255, 1);
  --select-stroke-default: rgba(227, 231, 237, 1);
  --select-stroke-hover: rgba(227, 231, 237, 1);
  --select-stroke-selected: rgba(0, 0, 0, 1);
  --slider-primary-background-content-default: rgba(242, 244, 247, 1);
  --slider-primary-stroke-default: rgba(172, 180, 191, 1);
  --stroke-white: rgba(255, 255, 255, 1);
  --text-link-default: rgba(24, 158, 255, 1);
  --text-link-hover: rgba(71, 175, 255, 1);
  --text-link-press: rgba(16, 116, 204, 1);
  --text-primary-content-default: rgba(31, 34, 38, 1);
  --text-primary-content-hover: rgba(31, 34, 38, 1);
  --text-primary-content-press: rgba(31, 34, 38, 1);
  --text-primary-content-selected: rgba(24, 158, 255, 1);
  --text-secondary-content-default: rgba(93, 105, 122, 1);
  --text-secondary-content-hover: rgba(125, 137, 153, 1);
  --text-secondary-content-press: rgba(125, 137, 153, 1);
  --text-tertiary-content-default: rgba(172, 180, 191, 1);
  --text-tertiary-content-hover: rgba(172, 180, 191, 1);
  --text-tertiary-content-press: rgba(172, 180, 191, 1);
  --tooltip-background-content-default: rgba(0, 0, 0, 0.8);
  --tooltip-content-default: rgba(255, 255, 255, 1);
  /* Radius styles */
  --test-radius: 4px 4px 0px 0px ;
  --radius-0: 0px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-40: 40px;
  --radius-48: 48px;
  --radius-56: 56px;
  --radius-64: 64px;
  --radius-capsule: 999px;
  /* Spacing styles */
  --spacing-0: 0px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  /* Font styles */
  --text---regular---12-fontSize: 12px;
  --text---regular---12-fontWeight: 400;
  --text---regular---12-lineHeight: 18px;
  --text---medium---12-fontSize: 12px;
  --text---medium---12-fontWeight: 500;
  --text---medium---12-lineHeight: 18px;
  --text---regular---14-fontSize: 14px;
  --text---regular---14-fontWeight: 400;
  --text---regular---14-lineHeight: 22px;
  --text---medium---14-fontSize: 14px;
  --text---medium---14-fontWeight: 500;
  --text---medium---14-lineHeight: 22px;
  --title---regular--16-fontSize: 16px;
  --title---regular--16-fontWeight: 400;
  --title---regular--16-lineHeight: 24px;
  --title---bold---16-fontSize: 16px;
  --title---bold---16-fontWeight: 600;
  --title---bold---16-lineHeight: 24px;
  --title---bold--18-fontSize: 18px;
  --title---bold--18-fontWeight: 600;
  --title---bold--18-lineHeight: 28px;
  /* Stroke styles */
  --stroke-0: 0px;
  --stroke-1: 1px;
  --stroke-10: 10px;
  --stroke-12: 12px;
  --stroke-16: 16px;
  --stroke-2: 2px;
  --stroke-3: 3px;
  --stroke-4: 4px;
  --stroke-5: 5px;
  --stroke-6: 6px;
  --stroke-8: 8px;
}
